eic_benchmark_report_generator/data/*
eic_benchmark_report_generator/outputs/*
eic_case_studies/inputs/*
*.egg-info
.vscode
.streamlit
__pycache__
.envrc
eic_case_studies/notebooks/exploration.ipynb
*/data/*
*.info_out
*.error_out
.metaflow